## Repaso taller 001 - retos prácticos (II)

Crear dos variables nombre y edad con tus datos e imprimir el mensaje:

```"Hola me llamo <nombre> y tengo <edad> años"```

In [2]:
nombre = 'Mabel'
edad = 32
nombre, edad

('Mabel', 32)

In [5]:
print('Hola me llamo', nombre, 'y tengo', edad, 'edad años')

Hola me llamo Mabel y tengo 32 edad años

In [4]:
print ('Hola me llamo {0} y tengo {1} años'.format(nombre, edad))

Hola me llamo Mabel y tengo 32 años

## Repaso taller 001 - retos prácticos (II)

Crear una lista con estos 5 elementos: *a, b, c, d, e*

In [55]:
mi_lista = ['a','b', 'c', 'd','e']

Extraer el primer elemento: *a*

In [8]:
mi_lista[0]

'a'

Extraer el último elemento: *e*

In [11]:
mi_lista[-1]

'e'

Extraer el tercer elemento: *c*

In [12]:
mi_lista[2]

'c'

Crear una lista invertida: *e, d, c, b, a*

In [20]:
mi_lista[::-1]

['e', 'd', 'c', 'b', 'a']

Añadir al final un nuevo elemento que sea igual que el segundo: *e, d, c, b, a, d*

In [44]:
mi_lista_invertida = mi_lista[::-1]
mi_lista_invertida.append(mi_lista_invertida[1]) 
mi_lista_invertida

['e', 'd', 'c', 'b', 'a', 'd']

In [57]:
mi_lista[::-1] + [mi_lista[3]]

['e', 'd', 'c', 'b', 'a', 'd']

Contar el número de elementos de la lista: *6*

In [40]:
len(mi_lista_invertida)

6

Quitar el primer elemento de la lista: *d, c, b, a, d*

In [48]:
mi_lista_sin_elemento = mi_lista_invertida
mi_lista_sin_elemento.pop(0)
mi_lista_sin_elemento

['c', 'b', 'a', 'd']

In [47]:
mi_lista_invertida[1::]

['c', 'b', 'a', 'd']

Contar el número de veces que se repite el 1er elemento en toda la lista: *2*

In [49]:
mi_lista_invertida.count(mi_lista_invertida[0])

1

## Tipos de datos

### Tuplas

Crea una tupla llamada *mi_tupla* con los siguientes valores: *a, b, c, d, e*

In [61]:
mi_tupla = ('a','b','c','d','e')
mi_tupla

('a', 'b', 'c', 'd', 'e')

Añade un valor al final que sea *f*

In [64]:
mi_tupla_add = mi_tupla + ('f',) 
mi_tupla_add

('a', 'b', 'c', 'd', 'e', 'f')

Sustituye el segundo elemento por una *z* - ¿funciona?

no se puede

Contar el número de elementos de la tupla

In [66]:
len(mi_tupla)

5

### Sets

Crea un set con los siguientes valores: *1, '3', 'a', True*

In [71]:
my_set = {1, '3', 'a', True}
my_set

{'3', True, 'a'}

Añade un valor al final que sea *0*

In [73]:
my_set.add('hola')
my_set

{'3', True, 'a', 'hola'}

Añade un valor al principio que sea *'python'* - ¿funciona?

no se puede

Añade el valor *'a'* - ¿qué ocurre?

In [77]:
my_set.add('a')
my_set

{'3', True, 'a', 'hola'}

Contar el número de elementos del set

In [78]:
len(my_set)

4

In [79]:
'3' in my_set

True

### Diccionarios

Crea un diccionario con estos valores: *{'edad': 18, 'altura': 1.80, 'puesto': 'alero', 'equipo' : None}*

In [93]:
mi_jugador =  {'edad': 18, 'altura': 1.80, 'puesto': 'alero', 'equipo' : None}
mi_jugador

{'altura': 1.8, 'edad': 18, 'equipo': None, 'puesto': 'alero'}

In [98]:
mi_jugador.keys()

dict_keys(['equipo', 'puesto', 'edad', 'altura'])

In [99]:
mi_jugador.values()

dict_values([None, 'alero', 18, 1.8])

Contar el número de campos del diccionario

In [96]:
len(mi_jugador)

4

Asignar al campo *equipo* el valor "PyLadies"

In [118]:
mi_jugador['equipo']= 'PyLadies'
mi_jugador['numero']='10'
mi_jugador['partidos']=[1,2,3]
mi_jugador

{'altura': 1.8,
 'edad': 18,
 'equipo': 'PyLadies',
 'numero': '10',
 'partidos': [1, 2, 3],
 'puesto': 'alero'}

Mostrar solo las claves del diccionario

In [102]:
mi_jugador.keys()

dict_keys(['equipo', 'puesto', 'edad', 'altura'])

## Operaciones básicas

### Operadores aritméticos

Suma 7 más 4

In [114]:
suma = 7 + 4
suma

11

Réstale 5

In [115]:
resta = suma - 5
resta

6

Multiplícalo por 100

In [113]:
multi = resta * 100
multi

600

Elévalo al cuadrado

In [117]:
cuadrado = multi^2
cuadrado

602

Divídelo entre 1.000.000 - ¿qué ocurre?

In [120]:
division = cuadrado / 1000000
division

0.000602

Multiplica 4 por 'a'

In [ ]:
no se puede

### Operadores de comparación

¿Es 7 menor que 8?

In [122]:
7 < 8

True

¿Es 4 igual que '4'?

In [123]:
4 == '4'

False

¿Es 'True' distinto de True?

In [124]:
'True'!= True

True

¿Es 5 menor o igual que 7, y a su vez mayor o igual que 2?

In [125]:
(5 < 7) and (7 > 2)

True

### Operadores de asignación

Crea una variable con el valor 10

Súmale a esa variable 5

Multiplícala por 10

Crea dos variables llamadas *color_1* y *color_2* con los valores 'blanco' y 'negro' en una sóla línea

Intercambia los valores entre *color_1* y *color_2* en la misma línea

### Otros operadores

Crea una lista con los valores *2, 4, 6, 8*

¿Está el valor 7 en la lista?

Crea dos variables con los valores True y False

¿Cuál es el resultado de aplicar el operador *and* a estas variables?

¿Cuál es el resultado de aplicar el operador or a estas variables?

Crea dos variables con los valores 'perro' y 25

¿Cuál es el resultado de aplicar el operador and a estas variables?

¿Cuál es el resultado de aplicar el operador or a estas variables?